/** @format */

:root {
	/* Colors */
	--red-100: #90191c;
	--red-200: #6f0f14;
	--red-300: #4d0d0e;
	--red-400: #2b0a0b;
	--th-100: #a4d2d9;
	--th-200: #7eb9c4;
	--th-300: #5d9fad;
	--th-600: #1a5666;
	--th-700: #0f4b5a;

	--lk-500: #0f5bcb;

	--black-100: #0a0404;
	--black-200: #000;
	--white-100: #fff;
	--white-200: #f7f7f7;
	--white-300: #f5f5f5;
	--grey-100: #ebebeb;
	--grey-200: #e0e0e0;
	--grey-300: #b3b3b3;

	/* shadows */
	--light: 1px 0 3px 1px rgba(0, 0, 0, 0.2);
	--shadow-100: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	--darker: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	--shadow: 0 0 3px var(--black-200);

	/* borders */
	--round-radius: 0.3rem;
	--thin: solid thin rgba(0, 0, 0, 0.25);
	--normal-focus: solid 1px var(--red-100);
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
    /* p, */
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
/* ul, */
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--white-300);
	font-size: clamp(1rem, 1vw, 1.2rem);
	font-weight: 400;
	line-height: 1.4;
	color: var(--black-200);
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 1rem;
	margin: 0 auto;
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white-100);
	box-shadow: var(--darker);
	z-index: 100;
	padding: 0 1em;
}

main {
	position: relative;
	top: 81px;
	margin: 0 auto;
	padding: 0;
	min-height: 100vh;
	max-width: 1200px;
}

#tour-page-width {
	max-width: 2000px;
}

footer {
	position: relative;
	top: 80px;
	width: 100%;
	padding: 2.5em;
	text-align: center;
	background-color: var(--grey-200);
	box-shadow: var(--shadow-100);
}

footer h4 {
	text-transform: uppercase;
}

footer a {
	color: var(--white-200);
}

nav {
	position: absolute;
	top: 81px;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 100;
	background-color: var(--th-100);
}

nav ul {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	gap: 1.2rem;
	margin: 0;
	padding: 1rem;
}

nav ul li {
	list-style: none;
}

nav ul li a,
nav ul li a:visited {
	font-family: Lato, sans-serif;
	text-decoration: none;
	color: var(--lk-500);
	font-size: clamp(1rem, 1vw, 1.2rem);
	text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a:active {
	color: var(--red-100);
}

nav ul li a.active {
	color: var(--red-100);
	font-weight: 500;
}

.nav-icon-label {
	display: none;
}

nav ul li:first-child {
	margin-right: auto;
}

button,
button:visited,
.btn,
.btn:visited {
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1rem, 2vw, 1em);
	line-height: 1;
	font-weight: 400;
	text-decoration: none;
	background-color: var(--red-100);
	color: var(--white-100);
	border: none;
	border-radius: var(--round-radius);
	-webkit-bor
	text-shadow: var(--shadow);
	cursor: pointer;
	pointer-events: all;
	padding: 1rem 2rem;
	position: relative;
	display: inline-block;
	text-align: center;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	width: auto;
	letter-spacing: 2px;
	text-transform: uppercase;
	z-index: 1;
}

button:hover,
.btn:hover,
button:active.promo-btn,
.btn:active {
	color: var(--white-100);
	background-color: var(--red-200);
}

.desktop-only-elements {
	display: none;
}

.material-icons {
	cursor: pointer;
	pointer-events: all;
	font-family: 'Material Icons', serif;
	font-weight: normal;
	font-style: normal;
	font-size: 36px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';

	color: var(--red-100);
}

.material-icons:hover {
	color: var(--red-200);
	display: inline-block;
}

#menu-icon {
	background-color: transparent;
	box-shadow: none;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

.show-menu {
	display: block;
}

.hide-menu {
	display: none;
}

#social-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1rem;
	gap: 1rem;
}

.social-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1;
}

h1 {
	font-size: clamp(2rem, 3vw, 4em);
	color: var(--red-100);
	margin-bottom: 1rem;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: clamp(1.5rem, 2vw, 3em);
	margin: 2em 0 0.1rem 0;
}

a,
a:visited {
	text-decoration: none;
	color: var(--red-200);
}

a:hover {
	color: var(--red-100);
}

#hero-wrapper {
	margin: 1em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 0 1rem;
}

#hero-wrapper img {
	max-width: 100%;
	width: 400px;
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: var(--light);
}

#mobile-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 1rem;
}

#mobile-content-wrapper h1 {
	text-align: center;
}

.book-title {
	font-weight: 500;
	color: var(--red-100);
	margin: 0;
	text-transform: uppercase;
}

.main-title {
	font-family: 'Anton', sans-serif;
	letter-spacing: 0.125rem;
	display: block;
	color: var(--black-200);
}

#hero-wrapper .desktop-only-elements {
	display: none;
}

.content-wrapper {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	background-color: inherit;
}

.content-wrapper h1,
h2 {
	text-align: center;
	margin: 2em auto;
}

.content-wrapper h1 {
	margin-bottom: 2rem;
}

.content-wrapper h2 {
	margin-top: 2rem;
}

.wrapped-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*gap: 2rem;*/
	padding: 1rem;
	margin-bottom: 200px;
}

#wrapped-tour-table {
	padding: 0;
	margin: 0;
}

.article-wrapper {
	margin: 0.01rem auto 0.1rem auto;
	/* padding: 1vw 1rem 200px 1rem; */
	width: 100%;
	background-color: #fff;
	box-shadow: var(--shadow-100);
}

article {
	margin: 0 auto;
	padding: 1vw 1rem 100px 1rem;
	max-width: 75ch;
}

article p,
article ul,
article ol,
article div,
article section,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	line-height: 1.5;
	margin: 0 auto;
}

article p {
	margin-bottom: 1rem;
}

article ul li {
	margin-bottom: 0.5rem;
}

article h1 {
	line-height: 1.1;
	margin-bottom: 3rem !important;
	text-transform: uppercase;
}

article h2 {
	text-align: left;
}

#book-meta-data p {
	margin: 0;
	padding: 0;
}

#retailers h3 {
	text-transform: uppercase;
}

#retailers ul li {
	list-style-type: none;
}

#retailers ul {
	padding: 0;
	margin: 0;
}

#retailers ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
}

#retailers ul li {
	border: var(--thin);
	border-radius: var(--round-radius);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
	padding: 0.5rem;
	margin: 0.1rem;
}

#retailers ul li:hover #retailers ul li a {
	text-decoration: underline;
}

.generic-page {
	width: 100%;
	padding: 100px 1rem;
	background-color: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#order-page {
	text-align: left;
}

#reviews-page {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reviews-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	flex: 1 1 auto;
}

.reviews {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: clamp(1rem, 1vw, 1.2em);
	line-height: 1.2;
	margin: 0;
	padding: 1rem;
	font-style: italic;
	width: min(100%, 360px);
	flex-grow: 1;
	transition: all 0.2s ease-in-out;
}

.reviews:nth-of-type(odd) {
	background-color: var(--grey-100);
}

.reviews:nth-of-type(even) {
	background-color: var(--grey-200);
}

/* style every third review */
.reviews:nth-of-type(3n) {
	background-color: var(--grey-200);
}

/* style every fourth review */
.reviews:nth-of-type(4n) {
	background-color: var(--grey-100);
}

/* style every fifth review */
.reviews:nth-of-type(5n) {
	background-color: var(--grey-200);
}

@media only screen and (min-width: 1111px) {
	.reviews:nth-child(odd) {
		background-color: var(--grey-100);
	}

	.reviews:nth-child(even) {
		background-color: var(--grey-200);
	}
}

.reviews:hover {
	cursor: pointer;
	pointer-events: all;
	background-color: var(--white-100);
	transition: all 0.2s ease-in-out;
	transition-property: background-color;
}

.reviewer-name {
	font-size: clamp(1rem, 1vw, 1em);
	margin-top: 1em;
	font-weight: 400;
	color: var(--red-200);
	text-align: center;
}

/* TABLE STYLES */
#tour-table {
	overflow-x: auto;
	margin: 0 auto;
	width: 100%;
	padding: 0.2rem;
	border-collapse: collapse;
	border-spacing: 0;
	border: var(--thin);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}


table {
	font-family: inherit, sans-serif;
	background-color: var(--grey-300);
}

table caption,
table tfoot {
	background-color: var(--white-300);
	color: var(--black-200);
}

table tfoot {
	font: smaller sans-serif;
	font-weight: 400;
}

table th,
table td {
	border-top: none;
}

#table-dates {
	width: 100%;
}

.table-cell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

table thead tr th[scope='col'] {
	background-color: var(--th-300);
	color: var(--th-700);
	font-weight: 600;
	padding: 1rem 5rem;
	border: var(--thin);
}

table tbody tr th[scope='row'] {
	font-weight: 400;
	white-space: nowrap;
}

table span {
	margin: 0.3rem auto;
}

table td span:first-child {
	text-align: center;
}

.city-name {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

table td {
	background-color: var(--th-200);
	color: var(--black-100);
	white-space: nowrap;
	border: var(--thin);
	padding: 1rem;
}

.no-show-cell,
.cancel-show {
	background-color: #111;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
}

.no-show-cell {
	color: var(--grey-200);
}

.cancel-show {
	color: var(--red-100);
}

.time {
	font-weight: 500;
	color: var(--th-700);
}

.ticket-price {
	font-weight: 500;
	color: var(--red-300);
}

/* END TABLE STYLES */

form {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto 120px;
	width: min(600px, 100%);
	padding: 1rem;
}

form label {
	font-size: clamp(1rem, 1.2vw, 1.5rem);
	font-weight: 400;
	color: var(--th-700);
	margin-top: 1.2rem;
	display: block;
}

form input,
form textarea {
	font-family: 'Roboto', sans-serif;
	display: block;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid var(--th-600);
	width: 100%;
	/* border: var(--normal); */
	border-radius: var(--round-radius);
}

form textarea {
	min-height: 200px;
	resize: none;
}

form input:focus,
form textarea:focus {
	outline: var(--normal-focus);
	border: var(--normal-focus);
	background-color: var(--th-100);
	border: solid 1px var(--th-600);
	outline: solid 1px var(--th-600);
	font-weight: 600;
	color: var(--th-700);
}

.price {
	font-size: clamp(1rem, 1.2vw, 1.5em);
	font-weight: 500;
	color: var(--red-400);
	margin-top: 3rem;
}

.confirmation-page {
	text-align: center;
}

#order-page img {
	width: min(300px, 100%);
	height: auto;
	display: block;
	margin: 1rem auto 0 auto;
}

/* AUTHORS */

.authors-wrapper section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5em auto;
}

.authors-wrapper img {
	width: 300px;
	height: 300px;
	display: block;
	margin: 1rem auto 0 auto;
	border-radius: 50%;
}

.authors-wrapper section h2 {
	margin: 0 auto 1.5rem auto;
	text-align: justify;
}

/* END */

.hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
	nav {
		position: relative;
		top: 0;
		left: 0;
		background-color: inherit;
		box-shadow: none;
	}

	nav ul {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	#menu-icon {
		display: none;
	}

	.mobile-only-elements {
		display: none;
	}

	.desktop-only-elements {
		display: block;
	}

	#desktop-promo {
		margin-right: auto;
	}

	#hero-wrapper {
		margin-top: 100px;
	}

	#hero-wrapper .mobile-only-elements {
		display: none;
	}

	#hero-wrapper .desktop-only-elements {
		display: block;
	}

	#hero-wrapper #mobile-btn {
		display: none;
	}

	#desktop-btn {
		display: block;
	}

	#hero-wrapper {
		/* margin-top: 200px; */
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		column-gap: 2em;
	}
}

@media only screen and (min-width: 1000px) {
	nav ul {
		gap: calc(1.5rem + 3vw);
	}
}
